trigger:
  batch: true
  branches:
    include:
      - main

pr:
  - main

schedules:
  - cron: "0 18 * * 1-5"
    displayName: Daily 6pm build
    branches:
      include:
        - main
    always: "true"

resources:
  repositories:
    - repository: cnp-azuredevops-libraries
      type: github
      ref: refs/heads/master
      name: hmcts/cnp-azuredevops-libraries
      endpoint: "hmcts"

parameters:
  - name: overrideAction
    type: string
    default: plan
    values:
      - plan
      - apply
      - destroy
  - name: environment_components
    type: object
    default:
      - deployment: "cft_sbox_core"
        environment: "cft-sbox"
        component: "core"
        service_connection: "DCD-CFTAPPS-SBOX"
        dependsOn: "Precheck"
      - deployment: "cft_sbox_backend_database"
        environment: "cft-sbox"
        component: "database"
        service_connection: "DCD-CFTAPPS-SBOX"
        dependsOn: "cft_sbox_core"
      - deployment: "cft_sbox_vm"
        environment: "cft-sbox"
        component: "vm"
        service_connection: "DCD-CFTAPPS-SBOX"
        dependsOn: "cft_sbox_core"
      - deployment: "cft_sbox_appgw"
        environment: "cft-sbox"
        component: "app-gateway"
        service_connection: "DCD-CFTAPPS-SBOX"
        dependsOn:
          - "cft_sbox_vm"
      - deployment: "cft_sbox_rbac"
        environment: "cft-sbox"
        component: "rbac"
        service_connection: "DCD-CFTAPPS-SBOX"
        dependsOn: "cft_sbox_vm"

variables:
  - name: timeoutInMinutes
    value: 60
  - name: agentImage
    value: ubuntu-latest
  - name: product
    value: cft-sbox
  - name: terraformInitSubscription
    value: 04d27a32-7a07-48b3-95b8-3c8691e1a263
  - template: vars/input-variables.yaml@cnp-azuredevops-libraries

stages:
  - stage: Precheck
    jobs:
      - job:
        pool:
          vmImage: ${{ variables.agentImage }}
        steps:
          - template: steps/terraform-precheck.yaml@cnp-azuredevops-libraries
            parameters:
              keyvaultName: "infra-vault-cft-sbox"
              keyvaultSecret: "azure-devops-sp-token"
              serviceConnection: "DCD-CFTAPPS-SBOX"
              overrideAction: ${{ parameters.overrideAction }}

  - ${{ each deployment in parameters.environment_components }}:
      - stage: ${{ deployment.deployment }}
        dependsOn: ${{ deployment.dependsOn }}
        jobs:
          - job: TerraformPlanApply
            pool: hmcts-sds-ptl
            timeoutInMinutes: ${{ variables.timeoutInMinutes }}
            steps:
              - template: steps/terraform.yaml@cnp-azuredevops-libraries
                parameters:
                  overrideAction: ${{ parameters.overrideAction }}
                  environment: ${{ deployment.environment }}
                  component: ${{ deployment.component }}
                  serviceConnection: ${{ deployment.service_connection }}
